/* Basic Reset and Body Styling */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: black;
}

/* Header Styling */
header {
    background-color: #141414;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 200px;
    width: auto;
    margin: 0;
    pointer-events: none;
    cursor: default;
}

header a {
    background-color: #25d366;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
}

header a:hover {
    background-color: #128c7e;
    transform: scale(1.05);
}

/* About Section Styling */
.about-section {
    background-color: #f9f9f9;
    padding: 80px;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Client Section Styling */
.client-section {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: black;
}

.client-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.client-text {
    max-width: 50%;
}

.client-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
}

.client-text p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.client-image {
    max-width: 40%;
}

.customer-img {
    width: 100%;
    height: auto;
    max-width: 1366px;
    border-radius: 20px;
}

/* Button Styling */
.btn-primary {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #128c7e;
    transform: scale(1.05);
}

/* Precatório Info Section Styling */
.precatorio-info-section {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.precatorio-info-section h2 {
    margin-bottom: 30px;
}

.precatorio-info {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

.precatorio-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.precatorio-info li:last-child {
    border-bottom: none;
}

.precatorio-info i {
    margin-right: 10px;
    font-size: 22px;
}

/* Security Section Styling */
.security-section {
    background-color: #f2f2f2;
    padding: 40px;
    color: black;
}

.security-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.security-text {
    max-width: 50%;
    text-align: right;
}

.security-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
}

.security-text p {
    font-size: 18px;
    line-height: 1.6;
}

.security-image {
    max-width: 100%;
}

.btg-img {
    width: 140%;
    height: auto;
    max-width: 600px;
    margin-left: 10px;
}

/* Form Section Styling */
.form-section {
    background-color: #FAFCFC;
    padding: 40px;
    text-align: center;
}

.form-section h3 {
    margin-bottom: 20px;
}

.form-section form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-section label {
    display: block;
    margin: 10px 0 5px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-container {
    text-align: center;
}

.form-section button {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-section button:hover {
    background-color: #128c7e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-section button i {
    margin-left: 10px;
}

/* Footer Styling */
footer {
    background-color: #141414;
    color: white;
    padding: 20px 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left {
    display: flex;
    align-items: center;
}

footer img.logo {
    height: 170px;
    width: auto;
    margin-right: 20px;
    pointer-events: none;
    cursor: default;
}

.whatsapp-link {
    color: #25d366;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.whatsapp-link i {
    margin-right: 10px;
}

.whatsapp-link:hover {
    color: #128c7e;
}

.footer-right {
    text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Header */
    header {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    header .logo {
        height: 150px;
    }

    header a {
        margin-top: 20px;
        display: block;
    }

    /* About Section */
    .about-section {
        padding: 40px 20px;
    }

    .about-section h2 {
        font-size: 24px;
    }

    /* Client Section */
    .client-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .client-container {
        flex-direction: column;
        align-items: center;
    }

    .client-text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .client-image {
        max-width: 80%;
        margin-bottom: 20px;
    }

    /* Security Section */
    .security-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    .security-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btg-img {
        width: auto;
        height: auto;
        max-width: 200px; /* Ajustado para um tamanho mais apropriado */
        margin: 0 auto 30px auto; /* Margem inferior aumentada */
        margin-right: 15px;
        display: block;
    }

    .security-text {
        max-width: 100%;
        text-align: center;
        padding: 0 20px;
    }

    /* Precatório Info Section */
    .precatorio-info-section {
        padding: 20px;
    }

    .precatorio-info {
        padding: 0 15px;
    }

    /* Form Section */
    .form-section form {
        width: 90%;
        margin: 0 auto;
        padding: 15px;
    }

    /* Footer */
    .footer-top {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .footer-left {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 15px;
    }

    footer img.logo {
        height: 120px;
        margin-right: 0;
    }

    .whatsapp-link {
        font-size: 14px;
        padding: 10px;
        width: 100%;
        justify-content: center;
        word-break: break-word;
    }

    .footer-right {
        text-align: center;
        width: 100%;
    }

    .footer-right p {
        margin: 5px 0;
    }
}