/* Basic Reset and Body Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Set light grey background */
    color: black;
}

/* Header Styling with Flexbox for Centering */
header {
    background-color: #141414;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 200px;
    width: auto;
    margin: 0;
    pointer-events: none;
    cursor: default;
    
}

header a {
    background-color: #25d366;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    
    
}

header a:hover {
    background-color: #128c7e;
    transform: scale(1.05);
}

/* About Section Styling */
.about-section {
    background-color: #f9f9f9;
    padding: 80px;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Client Section Styling */
.client-section {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2; /* Change to black */
    color: black; /* Change text color to white */
}

.client-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.client-text {
    max-width: 50%; /* Text on the left */
}

.client-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black; /* Set text color to white */
}

.client-text p {
    font-size: 18px;
    line-height: 1.5;
    color: black; /* Set text color to white */
}

.client-image {
    max-width: 40%; /* Image on the right */
}

.customer-img {
    width: 100%;
    height: auto;
    max-width: 1366px; /* Set max width to prevent overflow */
    border-radius: 20px;
}

/* Estilo para o botão "Tenho um precatório" */
.btn-primary {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #128c7e;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .client-section {
        flex-direction: column; /* Muda a direção para coluna */
        text-align: center; /* Centraliza o texto */
        padding: 20px; /* Ajusta o padding para telas menores */
    }

    .client-container {
        flex-direction: column; /* Alinha texto e imagem em coluna */
        align-items: center; /* Centraliza o conteúdo */
    }

    .client-text {
        max-width: 100%; /* Garante que o texto ocupe toda a largura */
        margin-bottom: 20px; /* Adiciona espaçamento entre o texto e a imagem */
    }

    .client-image {
        max-width: 80%; /* Ajusta o tamanho máximo da imagem */
        margin-bottom: 20px; /* Adiciona margem inferior para separar da próxima seção */
    }

    .customer-img {
        width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 10px; /* Suaviza as bordas da imagem */
    }
}


/* Precatório Info Section Styling */
.precatorio-info-section {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.precatorio-info-section h2 {
    margin-bottom: 30px;
}

.precatorio-info {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

.precatorio-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.precatorio-info li:last-child {
    border-bottom: none;
}

.precatorio-info i {
    margin-right: 10px;
    font-size: 22px;
}

/* Security Section Styling */
.security-section {
    background-color: #f2f2f2;
    padding: 40px;
    color: black;
}

.security-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.security-text {
    max-width: 50%; /* Alinhar o texto à direita */
    text-align: right;
}

.security-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black; 
}

.security-text p {
    font-size: 18px;
    line-height: 1.6;
}

.security-image {
    max-width: 100%; /* Imagem na esquerda */
}

.btg-img {
    width: 140%;
    height: auto;
    max-width: 600px; /* Ajuste a largura máxima para prevenir overflow */
    margin-left: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .security-container {
        flex-direction: column;
        text-align: center; /* Centralizar texto em telas pequenas */
    }

    .security-text,
    .security-image {
        max-width: 100%; /* Imagem e texto ocupam toda a largura */
    }

    .security-text {
        text-align: center; /* Alinhar texto ao centro em telas pequenas */
    }
}



/* Form Section Styling */
.form-section {
    background-color: #FAFCFC;
    padding: 40px;
    text-align: center;
}

.form-section h3 {
    margin-bottom: 20px;
}

.form-section form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-section label {
    display: block;
    margin: 10px 0 5px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-container {
    text-align: center;
}

.form-section button {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-section button:hover {
    background-color: #128c7e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-section button i {
    margin-left: 10px;
}

/* Footer Styling with Left and Right Alignments */
footer {
    background-color: #141414;
    color: white;
    padding: 20px 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Aligning Logo and WhatsApp on Left, Address on Right */
.footer-left {
    display: flex;
    align-items: center;
}

footer img.logo {
    height: 170px; /* Adjusted logo size */
    width: auto;
    margin-right: 20px;
    pointer-events: none;
    cursor: default;
}

.whatsapp-link {
    color: #25d366;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.whatsapp-link i {
    margin-right: 10px;
}

.whatsapp-link:hover {
    color: #128c7e;
}

.footer-right {
    text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    header a {
        margin-top: 20px;
        display: block;
    }

    .client-section {
        flex-direction: column;
        text-align: center; /* Center text in small screens */
    }

    .client-text, .client-image {
        max-width: 100%; /* Allow full width on small screens */
    }

    footer {
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        text-align: center;
    }
}
